.post-index {
	margin-bottom: 2em;

	li {
		margin-bottom: 0.5em;
	}
}

.post-content {
	font-family: $serif;
	@include media($medium-screen) {
		max-width: $medium-screen;
		margin: 0 auto;
	}

	ul, ol {
		list-style: initial;
		margin-left: 1.125em;
		margin-bottom: 1em;
	}

	ul li {
		line-height: $base-line-height;
		margin-bottom: 1em;
	}
}

// @include media($medium-screen) {
//  .post-content ul li {
// 	 font-size: 1.125em;
//  }
// }

.post-header {
	font-family: $sans-serif;
	padding: 1em 0;
	text-align: center;

	* {
		display: block;
	}

	.meta-data {
		margin: 1em 0;
	}
}

.archive-btn {
	background-color: $transparent;
	font-family: $sans-serif;
	border: 2px solid #fff;
	padding: 1em;
	text-align: center;
	transition: 0.2s all linear;
	margin: 1em auto;
	display: block;

	&:hover {
		color: #fff;
		background: rgba(255,255,255,0.3);
	}

	@include media($medium-screen) {
		display: inline-block;
	}
}

.post-footer {
	text-align: center;
}
